.BoxContainerTablet{
    width:100%;
    height:70%;
    display: flex;
}
.BotaoResponsivel{
    width:100%;
    height:16%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.BotaoResponsivel > button{
    border: none;
    width: 70%;
    height:60%;
    background-color:var(--Primary);
    color:white;
    font-family: Lato;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.5rem;
}
.BotaoResponsivel > button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.Plano_center{
    width:100%;
    height:5vh;
    color: var(--Primary);
    font-family: lato;
    font-weight: bold;
    font-size:1.8rem;
    display: flex;
    justify-content:center;
    align-items:center;
}
.BoxPai{
    width: 50%;
    height: 88.5%;
    border-right: 1px solid var(--Fourth);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    
}
.BoxPai > div {
    width: 100%;
    display: flex;
    justify-content:center;
    font-family: lato;
    color: var(--Primary);
    font-size: 1.5rem;
}
.BoxTio{
    width: 50%;
    height: 88.5%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
}
.BoxTio > div {
    width: 100%;
    display: flex;
    justify-content:center;
    font-family: lato;
    color: var(--Primary);
    font-size: 1.3rem;
}
.Ideal_Style{
    font-size: 0.8rem;
    margin-left: 0.5rem;
}
.MarginOne{
    margin-top: 1rem;
}