.BoxContainerTablet{
    width:100%;
    min-height:70%;
    display: flex;
}


.Plano_center{
    width:100%;
    min-height:5vh;
    color: var(--Primary);
    font-family: lato;
    font-weight: bold;
    font-size:1.8rem;
    display: flex;
    justify-content:center;
    align-items:center;
}
.BoxPai{
    width: 50%;
    min-height: 88.5%;
    border-right: 1px solid var(--Fourth);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    
}

.BoxPai > div {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    justify-content:center;
    font-family: lato;
    color: var(--Primary);
    font-size: 1.5rem;
}
.BoxTio{
    width: 50%;
    min-height: 88.5%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
}
.BoxTio > div {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    justify-content:center;
    font-family: lato;
    color: var(--Primary);
    font-size: 1.3rem;
}
.Ideal_Style{
    font-size: 0.8rem;
    margin-left: 0.5rem;
}
.MarginOne{
    margin-top: 1rem;
}
.Adicionais{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.InfoAdicionais{
    font-size: 1.2rem;
    font-family: lato;
    font-weight: bold;
    color: var(--Primary);
    border-bottom: 3px solid var(--Second);
    margin-bottom: 1rem;
}
.InfoAdicionais > i {
    margin-left: 5px;
}

.Adicionais > ul > div {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    font-family: Lato;
    font-weight:bold;
    height:2rem;
    color: var(--Primary);
}
.Adicionais > ul > div > span {
    border-bottom: 1px solid var(--Second);
}
.Adicionais > ul > li {
    display: flex;
    align-items: center;
    height:1.7rem;
   margin-left: 1rem;
   font-family: Lato;
   color: var(--Second);
}
.Adicionais > ul > li > span{
    color: var(--Primary);
    margin-right: 10px;
}
.Adicionais > ul > li > i {
    font-size:1.2rem;
    margin-left: 10px;
}
.Logo > i {
    font-size: 1.2rem;
    margin-left: 10px;
    padding-right: 0.6rem ;
}

/*---------------------------------------------*/


  
